## A report on the pipeline's performance and process
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Struct-NA 0.1 report $run_date</title>
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>
		<div id="content">
			<header>
				<h1>Struct-NA 0.1 report</h1>
				<h2>$run_date ($time_taken seconds taken)</h2>
			</header>
			<section id="main">
				<div id="centerer">
					<p class="top">Run with:</p>
        			<ul>
    					<li>nCores = $n_cores</li>
    					<li>β = $beta</li>
    					<li>τ = $tau</li>
    					<li>ζ = $zeta</li>
    					<li>ξ = $xi</li>
        			</ul>
    				<p>
    					See the relevant <a href="https://github.com/dmyersturnbull/network_merge/blob/master/description.pdf?raw=true">documentation</a> for more details.
    				</p>
				</div>
			</section>
#if ($weighted)
			<section class="weighted">
				<h2>Weighted graph</h2>
				<div class="left">
    				<table>
    					<thead>
    						<tr>
    							<th>property name</th>
    							<th>property value</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr>
    							<td>Manager</td>
    							<td>${weighted.manager}</td>
    						</tr>
    						<tr>
    							<td>N vertices</td>
    							<td>${weighted.n_vertices}</td>
    						</tr>
    						<tr>
    							<td>N interactions</td>
    							<td>${weighted.n_interactions}</td>
    						</tr>
    						<tr>
    							<td>N homology edges</td>
    							<td>${weighted.n_homologies}</td>
    						</tr>
    						<tr>
    							<td>Maximum interaction degree</td>
    							<td>${weighted.max_interaction_degree}</td>
    						</tr>
    						<tr>
    							<td>Maximum homology degree</td>
    							<td>${weighted.max_homology_degree}</td>
    						</tr>
    						<tr>
    							<td>N homology relations</td>
    							<td>${weighted.n_updates}</td>
    						</tr>
    					</tbody>
    				</table>
				</div>
    			<div class="right">
    				<figure>
    					<a href="${weighted.img_src}">
    						<img src="${weighted.img_src}" alt="weighted network" />
    					</a>
    					<figcaption>The graph after homology edges (dashed red lines) have been added.</figcaption>
    				</figure>
				</div>
			</section>
#end
#if ($crossed)
			<section class="crossed">
				<h2>Crossed graph</h2>
				<div class="left">
    				<table>
    					<thead>
    						<tr>
    							<th>property name</th>
    							<th>property value</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr>
    							<td>Manager</td>
    							<td>${crossed.manager}</td>
    						</tr>
    						<tr>
    							<td>N vertices</td>
    							<td>${crossed.n_vertices}</td>
    						</tr>
    						<tr>
    							<td>N interactions</td>
    							<td>${crossed.n_interactions}</td>
    						</tr>
    						<tr>
    							<td>N homology edges</td>
    							<td>${crossed.n_homologies}</td>
    						</tr>
    						<tr>
    							<td>N edges updated</td>
    							<td>${crossed.n_updated}</td>
    						</tr>
    						<tr>
    							<td>N updates</td>
    							<td>${crossed.n_updates}</td>
    						</tr>
    					</tbody>
    				</table>
#if ($updated)
					<h3>Updated interactions</h3>
					<table>
    					<thead>
    						<tr>
    							<th>Interaction Id</th>
    							<th>initial</th>
    							<th>updated</th>
    							<th>Ids</th>
    							<th>UniProt Ids</th>
    							<th>PDB Ids</th>
    							<th>SCOP Ids</th>
    						</tr>
    					</thead>
    					<tbody>
#foreach ($update in $updated)
#if ($update.before != $update.after)
#if ($update.after - $update.before > 0.35)
#set ($color="veryhigh")
#elseif ($update.after - $update.before > 0.3)
#set ($color="high")
#elseif ($update.after - $update.before > 0.25)
#set ($color="mediumhigh")
#elseif ($update.after - $update.before > 0.2)
#set ($color="medium")
#elseif ($update.after - $update.before > 0.15)
#set ($color="mediumlow")
#elseif ($update.after - $update.before > 0.1)
#set ($color="low")
#else
#set ($color="verylow")
#end
							<tr class="$color">
								<td>$update.interaction</td>
								<td>$update.before</td>
								<td>$update.after</td>
								<td>
									$update.ids.getFirst()<br/>
									$update.ids.getSecond()
								</td>
								<td>
									<a href="http://www.uniprot.org/uniprot/$update.uniProtIds.getFirst()">$update.uniProtIds.getFirst()</a><br/>
									<a href="http://www.uniprot.org/uniprot/$update.uniProtIds.getSecond()">$update.uniProtIds.getSecond()</a>
								</td>
								<td>
									<a href="http://www.pdb.org/pdb/explore/explore.do?structureId=$update.pdbIds.getFirst()">$update.pdbIds.getFirst()</a><br/>
									<a href="http://www.pdb.org/pdb/explore/explore.do?structureId=$update.pdbIds.getSecond()">$update.pdbIds.getSecond()</a>
								</td>
								<td>
									<a href="http://scop.berkeley.edu/search/?ver=1.75B&amp;key=$update.scopIds.getFirst()">$update.scopIds.getFirst()</a><br/>
									<a href="http://scop.berkeley.edu/search/?ver=1.75B&amp;key=$update.scopIds.getSecond()">$update.scopIds.getSecond()</a>
								</td>
							</tr>
#end
#end
    					</tbody>
					</table>
#end
				</div>
    			<div class="right">
    				<figure>
    					<a href="${crossed.img_src}">
    						<img src="${crossed.img_src}" alt="crossed network" />
    					</a>
    					<figcaption>The graph after interactions that are conserved between homologus vertices have been updated in probability.</figcaption>
    				</figure>
				</div>
			</section>
#end
#if ($merged)
			<section class="merged">
				<h2>Merged graph</h2>
				<div class="left">
    				<table>
    					<thead>
    						<tr>
    							<th>property name</th>
    							<th>property value</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr>
    							<td>Manager</td>
    							<td>${merged.manager}</td>
    						</tr>
    						<tr>
    							<td>N vertices</td>
    							<td>${merged.n_vertices}</td>
    						</tr>
    						<tr>
    							<td>N interactions</td>
    							<td>${merged.n_interactions}</td>
    						</tr>
    						<tr>
    							<td>N homology edges</td>
    							<td>${merged.n_homologies}</td>
    						</tr>
    						<tr>
    							<td>N connected components</td>
    							<td>${merged.n_ccs}</td>
    						</tr>
    						<tr>
    							<td>N nontrivial degenerate vertex sets</td>
    							<td>${merged.n_nontrivial_degenerate_sets}</td>
    						</tr>
    					</tbody>
    				</table>
#if ($degenerate_sets)
					<h3>Degenerate sets</h3>
					<table>
    					<thead>
    						<tr>
    							<th>V0 Id</th>
    							<th>V0 UniProt Id</th>
    							<th>Vertices removed</th>
    						</tr>
    					</thead>
    					<tbody>
#foreach ($update in $degenerate_sets)
							<tr>
								<td>$update.v0</td>
								<td><a href="http://www.uniprot.org/uniprot/$update.uniProtId0">$update.uniProtId0</a></td>
								<td>
#set ($i = 1)
#foreach ($v in $update.uniProtIds)
#if ($i < $update.uniProtIds.size())
#set ($comma = ",")
#else
#set ($comma = "")
#end
									<a href="http://www.uniprot.org/uniprot/$v">$v</a>$comma
#set ($i = $i + 1)
#end
								</td>
							</tr>
#end
    					</tbody>
					</table>
#end
				</div>
    			<div class="right">
    				<figure>
    					<a href="${merged.img_src}">
    						<img src="${merged.img_src}" alt="merged network" />
    					</a>
    					<figcaption>The graph after fully degenerate vertex sets have been contracted. A degenerate vertex set is a maximal clique whose members share interactions exactly.</figcaption>
    				</figure>
				</div>
			</section>
#end
		</div>
	</body>
</html>
